<div local-class="header-menu">
  <div local-class="selector">
    <div local-class="label">Generator:</div>
    {{#power-select
      onchange=(action selectGenerator)
      options=generators
      selected=selectedGenerator
      as |generator|
    }}
      {{generator}}
    {{/power-select}}
  </div>

  <div local-class="selector">
    <div local-class="label">Sources:</div>
    {{#power-select-multiple
      class=(local-class 'sources')
      options=sources.all
      selected=sources.selected
      onchange=(action selectSources)
      as |source|
    }}
      {{source}}
    {{/power-select-multiple}}
  </div>
</div>

<div local-class="generator">
  {{outlet}}
</div>
