/* css for print buttons*/
@media print {
  .btn, .btn-finish, .alert-this, h1, p, .footer, h4, .dontPrint {
    display:none!important;
  }
  #capture {
    max-width: 100%!important;
  }
  .jumbotron {
    padding-top: 0px!important;
  }
}
