/* css for print buttons*/
@media print {
  .btn, .btn-finish, .alert-this, h1, p, .footer, h4, .dontPrint, .progress, .top-spacer {
    display:none!important;
  }
  #capture {
    max-width: 100%!important;
  }
  .jumbotron {
    padding-top: 0px!important;
  }
  .edit-block, .wizard-card {
    padding-top: 0px!important;
    margin-top: 0px!important;
  }
}
