<!-- about.html-->

{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>Weapon Generator</h1>
  <p class="lead">This site generates balanced weapons for the Starfinder RPG with damage curves matched as closely as possible to the core rulebook weapon entries. The site is on Github and can be found here <a href="https://github.com/mjcadz/weapon-gen-app">github.com/mjcadz/weapon-gen-app</a></p>

  <h4 class="lead">To-Do</h4>
  <ul>
    <li class="lead">Add more gun types</li>
    <li class="lead">Exotic weapons</li>
    <li class="lead">Loot generator</li>
    <li class="lead">Add mode for fully randomised weapon stats</li>
  </ul>
  <p class="lead">If you have any suggestions I would love to hear from you at <a href="mailto:mjcadzdev@gmail.com?Subject=Hello" target="_top">mjcadzdev@gmail.com</a>
  <p class="lead">If you like my work and want to buy me a beer or help with server costs you can here <a href="https://www.paypal.me/mjcadz">paypal.me/mjcadz</a></p>
</p>
</div>
{% endblock %}
