<!-- index.html-->

{% extends "base.html" %}
{% block title %}Alternative Starfinder Character Sheet{% endblock %}
{% block description %}Alternative character sheets for the starfinder roleplaying game{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1>Alternative Character Sheet</h1>
    <p class="lead">Pay what you want to support sfrpgtools and recieve an alternative character sheet for use with starfinder. Your support contributes directly to hosting costs and helps keep sfrpgtools online and ad free.</p>
    <p></p>
    <div class="container">

    </div>
</div>
{% endblock %}
{% block includes %}
{% endblock %}
