<!-- index.html-->

{% extends "base.html" %}
{% block title %}Alternative Starfinder Character Sheet{% endblock %}
{% block description %}Alternative character sheets for the starfinder roleplaying game{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1>Alternative Character Sheet</h1>
    <p class="lead">Pay what you want to support sfrpgtools and recieve an alternative character sheet pack, available in multiple accent colors. Your support helps keep sfrpgtools online and ad free.</p>
    <p style="margin: 0">The pack contains alternatives for the following sheets:</p>
    <ul>
      <li>Main character sheet</li>
      <li>Secondary character sheet</li>
      <li>Spell sheet</li>
      <li>Journal sheet (MAKE THIS ONE BETTER)</li>
      <li>Drone sheet</li>
      <li>NPC sheet (2 per page)</li>
      <li>Ship sheet (single page)</li>
      <li>Ship folio (2 pages)</li>
    </ul>
    <p></p>
    <select class="selectpicker show-tick" id="pricePicker" data-style="btn-default" data-size="10">
      <option>$1</option>
      <option>$2</option>
    </select>
    <div class="buybutton">
      <a href="https://transactions.sendowl.com/products/77716581/E8FBF228/purchase" rel="nofollow" class="btn btn-grn">BUY NOW</a><script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>
    </div>

</div>
{% endblock %}
{% block includes %}
<script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap-select.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/sheetGen.v2.0.js') }}"></script>
{% endblock %}
