{% extends "base2.html" %}
{% block title %}Starfinder Character Concept Generator{% endblock %}
{% block description %}Random character concept generator to inpire your starfinder characters and NPCs{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap-select.min.css') }}">
{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1>Character Concept Generator</h1>
    <p class="lead">Generates random character concepts for the Starfinder RPG to inspire your characters and NPCs.</p>
    <p></p>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
              <select class="selectpicker show-tick" id="sourceDrop" multiple data-style="btn-default" data-width="100%" data-size="10" data-title="Sources" data-selected-text-format="static">
                <option selected title="Sources">Core Rulebook</option>
                <option selected title="Sources">Core Rulebook Legacy</option>
                <option selected title="Sources">Alien Archive</option>
                <option selected title="Sources">Pact Worlds</option>
              </select>
                <button type="button" onclick="generateCharacter()" title="magic, baby" class="btn btn-grn">Generate <i class="fa fa-magic fa-lg"></i></button>
                <button type="button" onclick="clearOutput()" class="btn btn-default btn-notblack">Clear</button>
                <P></P>
            </div>
            <div class="col-md-8"></div>
        </div>
    </div>

    <div class="output area">

    </div>
</div>
{% endblock %}
{% block includes %}
<script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap-select.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/characterGen.v2.1.js') }}"></script>
{% endblock %}
