{% extends "base.html" %}
{% block title %}Alternate Starfinder Character Sheet{% endblock %}
{% block description %}Alternate character sheets for the starfinder roleplaying game{% endblock %}
{% block body %}
<div class="jumbotron">
   <h1>Alternate Character Sheet</h1>
   <p></p>
   <p class="lead">Pay what you want to support sfrpgtools and recieve an alternate character sheet pack designed by me.</p>
   <p>Your support helps keep sfrpgtools online and ad free.</p>
   <p></p>
   <hr>
   <p></p>
   <div class="container">
      <div class="row">
         <div class="col-md-4">
            <div id="sheetCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
               <!-- Indicators -->
               <ol class="carousel-indicators">
                  <li data-target="#sheetCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#sheetCarousel" data-slide-to="1"></li>
                  <li data-target="#sheetCarousel" data-slide-to="2"></li>
                  <li data-target="#sheetCarousel" data-slide-to="3"></li>
                  <li data-target="#sheetCarousel" data-slide-to="4"></li>
                  <li data-target="#sheetCarousel" data-slide-to="5"></li>
                  <li data-target="#sheetCarousel" data-slide-to="6"></li>
                  <li data-target="#sheetCarousel" data-slide-to="7"></li>
                  <li data-target="#sheetCarousel" data-slide-to="8"></li>
               </ol>
               <!-- Wrapper for slides -->
               <div class="carousel-inner">
                  <div class="item active">
                     <a href="/static/img/charsheet.jpg" class="thumbnail" data-toggle="lightbox">
                     <img src="/static/img/charsheet.jpg" alt="First sheet">
                     </a>
                     <div class="carousel-caption">
                        <p>Character Sheet 1</p>
                     </div>
                  </div>
                  <div class="item">
                     <a href="/static/img/charsheet2.jpg" class="thumbnail" data-toggle="lightbox">
                     <img src="/static/img/charsheet2.jpg" alt="First sheet">
                     </a>
                     <div class="carousel-caption">
                        <p>Character Sheet 2</p>
                     </div>
                  </div>
                  <div class="item">
                     <a href="/static/img/spellsheet.jpg" class="thumbnail" data-toggle="lightbox">
                     <img src="/static/img/spellsheet.jpg" alt="First sheet">
                     </a>
                     <div class="carousel-caption">
                        <p>Spell Sheet</p>
                     </div>
                  </div>
                  <div class="item">
                     <a href="/static/img/logsheet.jpg" class="thumbnail" data-toggle="lightbox">
                     <img src="/static/img/logsheet.jpg" alt="First sheet">
                     </a>
                     <div class="carousel-caption">
                        <p>Log Sheet</p>
                     </div>
                  </div>
                  <div class="item">
                     <a href="/static/img/dronesheet.jpg" class="thumbnail" data-toggle="lightbox">
                     <img src="/static/img/dronesheet.jpg" alt="First sheet">
                     </a>
                     <div class="carousel-caption">
                        <p>Drone Sheet</p>
                     </div>
                  </div>
                  <div class="item">
                     <a href="/static/img/npcsheet.jpg" class="thumbnail" data-toggle="lightbox">
                     <img src="/static/img/npcsheet.jpg" alt="First sheet">
                     </a>
                     <div class="carousel-caption">
                        <p>NPC Sheet</p>
                     </div>
                  </div>
                  <div class="item">
                     <a href="/static/img/shipfolio1.jpg" class="thumbnail" data-toggle="lightbox">
                     <img src="/static/img/shipfolio1.jpg" alt="First sheet">
                     </a>
                     <div class="carousel-caption">
                        <p>Ship Sheet 1</p>
                     </div>
                  </div>
                  <div class="item">
                     <a href="/static/img/shipfolio2.jpg" class="thumbnail" data-toggle="lightbox">
                     <img src="/static/img/shipfolio2.jpg" alt="First sheet">
                     </a>
                     <div class="carousel-caption">
                        <p>Ship Sheet 2</p>
                     </div>
                  </div>
                  <div class="item">
                     <a href="/static/img/compactship.jpg" class="thumbnail" data-toggle="lightbox">
                     <img src="/static/img/compactship.jpg" alt="First sheet">
                     </a>
                     <div class="carousel-caption">
                        <p>Ship Compact</p>
                     </div>
                  </div>
               </div>
               <!-- Left and right controls -->
               <a class="left carousel-control" href="#sheetCarousel" data-slide="prev">
               <span class="glyphicon glyphicon-chevron-left"></span>
               <span class="sr-only">Previous</span>
               </a>
               <a class="right carousel-control" href="#sheetCarousel" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right"></span>
               <span class="sr-only">Next</span>
               </a>
            </div>
         </div>
         <div class="col-md-8">
            <p>Alternate character sheet pack</p>
            <label>Pay what you want</label>
            <div></div>
            <select class="selectpicker show-tick" id="pricePicker" data-style="btn-default" data-size="10">
               <option>$1</option>
               <option>$2</option>
               <option>$3</option>
               <option>$4</option>
               <option>$5</option>
               <option>$6</option>
               <option>$7</option>
               <option>$8</option>
               <option>$9</option>
               <option>$10</option>
            </select>
            <div class="buybutton1" style="display: none;">
               <a href="https://checkout.chec.io/p4hFID" data-chec-product-id="p4hFID" class="btn btn-grn">BUY NOW</a>
            </div>
            <div class="buybutton2" style="display: none;">
               <a href="https://checkout.chec.io/KlJhz7" data-chec-product-id="KlJhz7" class="btn btn-grn">BUY NOW</a>
            </div>
            <div class="buybutton3">
               <a href="https://checkout.chec.io/dgIkdq" data-chec-product-id="dgIkdq" class="btn btn-grn">BUY NOW</a>
            </div>
            <div class="buybutton4" style="display: none;">
               <a href="https://checkout.chec.io/NyJbkK" data-chec-product-id="NyJbkK" class="btn btn-grn">BUY NOW</a>
            </div>
            <div class="buybutton5" style="display: none;">
               <a href="https://checkout.chec.io/tvPyYC" data-chec-product-id="tvPyYC" class="btn btn-grn">BUY NOW</a>
            </div>
            <div class="buybutton6" style="display: none;">
               <a href="https://checkout.chec.io/YVe3hx" data-chec-product-id="YVe3hx" class="btn btn-grn">BUY NOW</a>
            </div>
            <div class="buybutton7" style="display: none;">
               <a href="https://checkout.chec.io/3p8Agw" data-chec-product-id="3p8Agw" class="btn btn-grn">BUY NOW</a>
            </div>
            <div class="buybutton8" style="display: none;">
               <a href="https://checkout.chec.io/PzU7yP" data-chec-product-id="PzU7yP" class="btn btn-grn">BUY NOW</a>
            </div>
            <div class="buybutton9" style="display: none;">
               <a href="https://checkout.chec.io/cfqLZn" data-chec-product-id="cfqLZn'" class="btn btn-grn">BUY NOW</a>
            </div>
            <div class="buybutton10" style="display: none;">
               <a href="https://checkout.chec.io/jNxQv5" data-chec-product-id="jNxQv5" class="btn btn-grn">BUY NOW</a>
            </div>

            <p></p>

         </div>
      </div>
   </div>
   <hr>
   <p></p>
   <p>The sheets come in pdf format and are form fillable and printable.</p>
   <p style="margin: 0">This pack contains the following sheets:</p>
   <ul>
      <li>Main character sheet</li>
      <li>Secondary character sheet</li>
      <li>Log sheet</li>
      <li>Spell sheet</li>
      <li>Drone sheet</li>
      <li>NPC sheet (2 per page)</li>
      <li>Ship sheet (2 page)</li>
      <li>Compact ship sheet (1 page)</li>
   </ul>
   <p class="lead">Note that references to "The Drift" have been changed to "Hyperspace" as per the Open Game License.</p>
</div>
{% endblock %}
{% block includes %}
<script type="text/javascript" src="https://chec-cdn.s3.amazonaws.com/js/embed.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js" ></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap-select.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/sheetGen.v2.2.js') }}"></script>
{% endblock %}
