<!-- index.html-->

{% extends "base.html" %}
{% block title %}Starfinder Tools{% endblock %}
{% block description %}Starfinder roleplaying game tools and generators to add fun to your game{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1>Starfinder Tools</h1>
    <p class="lead">sfrpgtools is a suite of tools built with HTML and javascript for use with the Starfinder roleplaying game. The site is currently in development and new tools will be posted as they are created.</p>
    <p class="lead">The online tools can be found in the menu, or the code for the project can be found over here on <a href="https://github.com/mjcadz/weapon-gen-app">GitHub</a>.</p>
    <p class="lead">If you have any suggestions I would love to hear from you at <a href="mailto:mjcadzdev@gmail.com?Subject=Hello" target="_top">mjcadzdev@gmail.com</a>.</p>
    <p class="lead">If you like my work and want to buy me a beer or help with server costs you can here <a href="https://www.paypal.me/mjcadz">paypal.me/mjcadz</a>.</p>
    <p></p>
    <hr>
    <h4>Be notified of new tools.</h4>
    <p>Submit your email address to be notified whenever a new tool is posted.</p>
    <div class="contact">
        <div class="row">
            <div class="col-lg-6">
                <form action="https://formspree.io/mjcadzdev+sfrpgtools@gmail.com" method="POST">
                    <input type="hidden" name="_subject" value="New notify!" />
                    <input type="text" name="_gotcha" style="display:none" />
                    <input type="hidden" name="_format" value="plain" />

                    <div class="form-group">
                        <input type="email" class="form-control" id="InputEmail" name="_replyto" placeholder="Email address" required>
                    </div>
                    <input type="submit" name="submit" id="submit" value="Notify me!" class="btn btn-grn">
                </form>
            </div>

            <div class="col-lg-5 col-md-offset-1">
            </div>
        </div>
    </div>
    <p></p>
    <hr>
    <h4>Support sfrpgtools.</h4>
    <p>You choose the price to purchase a character sheet pack designed by me and directly support sfrpgtools.</p>
    <p class="lead"><a href="http://www.sfrpgtools.com/character-sheet">Show me the sheet</a>.</p>

</div>
{% endblock %}
{% block includes %}
{% endblock %}
