<!-- index.html-->

{% extends "base.html" %}
{% block title %}Starfinder Tools{% endblock %}
{% block description %}Starfinder roleplaying game tools and generators to add fun to your game{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>Starfinder Tools</h1>
  <p class="lead">sfrpgtools is a suite of tools built with HTML and javascript for use with the Starfinder roleplaying game. The site is currently in development and new tools will be posted as they are created.</p>
  <p class="lead"> The project can be found over here on <a href="https://github.com/mjcadz/weapon-gen-app">GitHub</a>.</p>
  <p class="lead">If you have any suggestions I would love to hear from you at <a href="mailto:mjcadzdev@gmail.com?Subject=Hello" target="_top">mjcadzdev@gmail.com</a>.</p>
  <p class="lead">If you like my work and want to buy me a beer or help with server costs you can here <a href="https://www.paypal.me/mjcadz">paypal.me/mjcadz</a>.</p>


</div>
{% endblock %}

{% block includes %}
{% endblock %}
