<!-- index.html-->

{% extends "base.html" %}
{% block title %}Starfinder Monster Builder{% endblock %}
{% block description %}NPC and monster creator for starfinder roleplaying game{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1></h1>
    <p class="lead">This wizard will step through the creation of Starfinder NPCs (including monsters).</p>
    <p></p>
    <div class="container">
        <!--      Wizard container        -->
        <div class="wizard-container">
            <div class="card wizard-card" data-color="green" id="wizard">
                <form action="" method="">
                    <!--        You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"             -->
                    <!--<div class="wizard-header">
                    <h3 class="wizard-title">Book a Room</h3>
                    <h5>This information will let us know more about you.</h5>
                    </div>-->
                    <div class="wizard-navigation" hidden>
                        <ul>
                            <li><a href="#step1" data-toggle="tab">Step1</a></li>
                            <li><a href="#step2" data-toggle="tab">Step2</a></li>
                            <li><a href="#step3" data-toggle="tab">Step3</a></li>
                            <li><a href="#step4" data-toggle="tab">Step4</a></li>
                            <li><a href="#step5" data-toggle="tab">Step5</a></li>
                            <li><a href="#step6" data-toggle="tab">Step6</a></li>
                            <li><a href="#step7" data-toggle="tab">Step7</a></li>
                            <li><a href="#step8" data-toggle="tab">Step8</a></li>
                            <li><a href="#step9" data-toggle="tab">Step9</a></li>
                        </ul>
                    </div>
                    <div id="bar" class="progress">
                      <div class="progress-bar progress-bar-grn" role="progressbar" style="width: 0%"></div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane" id="step1">
                          <span id="stepOneSave" hidden>0</span>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="info-text">Step 1 - base array.</h4>
                                </div>
                                <div class="col-sm-6">
                                    <div id="CRDropdown"></div>
                                    <P></P>
                                    <div id="arrayDropdown"></div>
                                    <P></P>

                                </div>
                                <div class="col-sm-6">
                                  <div class="stepOneDescription wizardp">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="step2">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="info-text">Step 2 - creature type graft.</h4>
                                </div>
                                <div class="col-sm-6">
                                  <div id="creatureTypeDropdown"></div>
                                  <P></P>
                                  <div id="stepTwoOptionalDropdown"></div>
                                  <P></P>
                                </div>
                                <div class="col-sm-6">
                                  <div class="stepTwoDescription wizardp">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="step3">
                            <span id="stepThreeSave" hidden>none</span>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="info-text">Step 3 - creature subtype graft.</h4>
                                </div>
                                <div class="col-sm-6">
                                    <div id="creatureSubtypeDropdown"></div>
                                    <P></P>
                                    <div id="stepThreeOptionalDropdown"></div>
                                    <P></P>
                                </div>
                                <div class="col-sm-6">
                                  <div class="stepThreeDescription wizardp">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="step4">
                            <span id="stepFourSave" hidden>None:None</span>
                            <span id="stepFourSave2" hidden>None</span>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="info-text">Step 4 - class graft.</h4>
                                </div>
                                <div class="col-sm-6">
                                    <div id="classDropdown"></div>
                                    <P></P>
                                    <div id="stepFourOptionalDropdown"></div>
                                    <P></P>
                                </div>
                                <div class="col-sm-6">
                                  <div class="stepFourDescription wizardp">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="step5">
                            <span id="stepFiveSave" hidden>None</span>
                            <span id="stepFiveSave2" hidden>None:None:None</span>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="info-text">Step 5 - template graft.</h4>
                                </div>
                                <div class="col-sm-6">
                                    <div id="graftDropdown"></div>
                                    <P></P>
                                </div>
                                <div class="col-sm-6">
                                  <div class="stepFiveDescription wizardp">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="step6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="info-text">Step 6 - special abilities.</h4>
                                </div>
                                <div class="col-sm-6">
                                    <div class="stepSixFreeAbilities wizardp">
                                        <p>Free abilities can be taken as needed for the NPC concept without counting towards special abilities</p>
                                    </div>
                                    <p></p>
                                    <div id="freeAbilityDropdown"></div>
                                    <P></P>
                                    <div class="stepSixAbilities wizardp"></div>
                                    <p></p>
                                    <div id="specialAbilityDropdown"></div>
                                    <P></P>
                                </div>
                                <div class="col-sm-6">
                                  <div class="stepSixDescription wizardp">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="step7">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="info-text">Step 7 - skills.</h4>
                                </div>
                                <div class="col-sm-6">
                                    <div id="graftDropdown"></div>
                                    <P></P>
                                </div>
                                <div class="col-sm-6">
                                  <div class="stepSevenDescription wizardp">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="step8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="info-text">Step 8 - spells.</h4>
                                </div>
                                <div class="col-sm-6">
                                    <div id="graftDropdown"></div>
                                    <P></P>
                                </div>
                                <div class="col-sm-6">
                                  <div class="stepEightDescription wizardp">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="step9">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="info-text">Step 9 - final check.</h4>
                                </div>
                                <div class="col-sm-6">
                                  <div id="precedenceDropdown"></div>
                                  <P></P>
                                </div>
                                <div class="col-sm-6">
                                  <div class="stepNineDescription wizardp">
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-footer">
                        <div class="pull-right">
                            <input type='button' class='btn btn-next btn-grn' name='next' value='Next' />
                            <input type='button' class='btn btn-finish btn-grn' name='finish' value='Finish' />
                        </div>
                        <div class="pull-left">
                            <input type='button' class='btn btn-previous btn-default' name='previous' value='Previous' />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <!-- wizard container -->
    </div>
    <div class="output area">

    </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="classModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding: 10px 15px 0px 15px;">
          <h4 class="modal-title" >Change required</h4>
        </div>
        <div class="modal-body classModal" style="padding: 5px 15px;">

        </div>
        <div class="modal-footer" style="padding: 0px 10px 10px 10px;">
          <button type="button" class="btn-change btn btn-grn" data-dismiss="modal">Change</button>
          <button type="button" class="btn-change btn btn-default pull-left" data-dismiss="modal">No thanks</button>
        </div>
      </div>

    </div>
  </div>
  <div class="modal fade" id="graftModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding: 10px 15px 0px 15px;">
          <h4 class="modal-title" >Change required</h4>
        </div>
        <div class="modal-body graftModal" style="padding: 5px 15px;">

        </div>
        <div class="modal-footer" style="padding: 0px 10px 10px 10px;">
          <button type="button" class="btn-graft btn btn-grn" data-dismiss="modal">Change</button>
          <button type="button" class="btn-graft btn btn-default pull-left" data-dismiss="modal">No thanks</button>
        </div>
      </div>

    </div>
  </div>
  <div class="modal fade" id="crModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding: 10px 15px 0px 15px;">
          <h4 class="modal-title" >Condition not met</h4>
        </div>
        <div class="modal-body crModal" style="padding: 5px 15px;">

        </div>
        <div class="modal-footer" style="padding: 0px 10px 10px 10px;">
          <button type="button" class="btn-graft btn btn-grn" data-dismiss="modal">Ok</button>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
{% block includes %}
<script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap-select.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap-wizard.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/monsterGenData.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/monsterGen.js') }}"></script>
{% endblock %}
