<!-- index.html-->

{% extends "base.html" %}
{% block title %}Starfinder Monster Builder{% endblock %}
{% block description %}NPC and monster creator for starfinder roleplaying game{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1>Monster Builder</h1>
    <p class="lead">This wizard will step through the creation of Starfinder NPCs and monsters.</p>
    <p></p>
    <div class="alert-this"style="display: none;">
      <button type="button" class="close" aria-label="Close" onclick="dismissAlert()"><span aria-hidden="true">&times;</span></button>
      <p><strong>Heads up!</strong> Class abilities and special abilities are not yet fully integrated into the builder. Currently any class or special abilities you choose will be printed below the stat block but any additions to the stat block (e.g. special attacks or senses) will need to be added manually.<br><br>Additionally not all template grafts have been added yet. Only simple/dragon grafts are available.</p>
    </div>
    <div class="container">
        <!--      Wizard container        -->
        <div class="wizard-container">
            <div class="card wizard-card" id="wizard">
                <form action="" method="">
                    <div class="wizard-navigation" hidden>
                        <ul>
                            <li><a href="#step1" data-toggle="tab">Step1</a></li>
                            <li><a href="#step2" data-toggle="tab">Step2</a></li>
                            <li><a href="#step3" data-toggle="tab">Step3</a></li>
                            <li><a href="#step4" data-toggle="tab">Step4</a></li>
                            <li><a href="#step5" data-toggle="tab">Step5</a></li>
                            <li><a href="#step6" data-toggle="tab">Step6</a></li>
                            <li><a href="#step7" data-toggle="tab">Step7</a></li>
                            <li><a href="#step8" data-toggle="tab">Step8</a></li>
                            <li><a href="#step9" data-toggle="tab">Step9</a></li>
                            <li><a href="#step10" data-toggle="tab">Step10</a></li>
                            <li><a href="#step11" data-toggle="tab">Step11</a></li>
                        </ul>
                    </div>
                    <div id="bar" class="progress">
                      <div class="progress-bar progress-bar-grn" role="progressbar" style="width: 0%"></div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane" id="step1">
                          <span id="stepOneSave" hidden>0</span>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="info-text">Base array</h4>
                                </div>
                                <div class="col-sm-6">
                                    <hr>
                                    <div id="CRDropdown"></div>
                                    <div id="arrayDropdown"></div>
                                </div>
                                <div class="col-sm-6">
                                  <hr>
                                  <div class="stepOneDescription wizardp">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="step2">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="info-text">Creature type graft</h4>
                                </div>
                                <div class="col-sm-6">
                                  <hr>
                                  <div id="creatureTypeDropdown"></div>
                                  <div id="stepTwoOptionalDropdown"></div>
                                </div>
                                <div class="col-sm-6">
                                  <hr>
                                  <div class="stepTwoDescription wizardp">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="step3">
                            <span id="stepThreeSave" hidden>none</span>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="info-text">Creature subtype graft</h4>
                                </div>
                                <div class="col-sm-6">
                                    <hr>
                                    <div id="creatureSubtypeDropdown"></div>
                                    <div id="stepThreeOptionalDropdown"></div>
                                </div>
                                <div class="col-sm-6">
                                  <hr>
                                  <div class="stepThreeDescription wizardp">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="step4">
                            <span id="stepFourSave" hidden>None:None</span>
                            <span id="stepFourSave2" hidden>None</span>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="info-text">Class graft</h4>
                                </div>
                                <div class="col-sm-6">
                                    <hr>
                                    <div id="classDropdown"></div>
                                    <div id="stepFourOptionalDropdown"></div>
                                </div>
                                <div class="col-sm-6">
                                  <hr>
                                  <div class="stepFourDescription wizardp">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="step5">
                            <span id="stepFiveSave" hidden>None</span>
                            <span id="stepFiveSave2" hidden>None:None:None</span>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="info-text">Template graft</h4>
                                </div>
                                <div class="col-sm-6">
                                    <hr>
                                    <div id="graftDropdown"></div>
                                </div>
                                <div class="col-sm-6">
                                  <hr>
                                  <div class="stepFiveDescription wizardp">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="step6">
                            <span id="stepSixSave" hidden>None</span>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="info-text">Special abilities</h4>
                                </div>
                                <div class="col-sm-6">
                                    <hr>
                                    <div class="stepSixFreeAbilities wizardp">
                                        <p>Free abilities can be taken as needed for the NPC concept without counting towards special abilities</p>
                                    </div>
                                    <div id="freeAbilityDropdown"></div>
                                    <div class="stepSixAbilities wizardp"></div>
                                    <div id="specialAbilityDropdown"></div>
                                </div>
                                <div class="col-sm-6">
                                    <hr>
                                    <div id="burrowTextInput"></div>
                                    <div id="climbTextInput"></div>
                                    <div id="flyTextInput"></div>
                                    <div id="swimTextInput"></div>
                                    <br>
                                    <div id="dependencyTextInput"></div>
                                    <div id="weaknessTextInput"></div>
                                    <div id="vulnerabilityTextInput"></div>
                                    <br>
                                    <div id="saveBoostDropdown"></div>
                                    <br>
                                    <div class="stepSixDescription wizardp">
                                    </div>
                                    <div class="stepSixDescriptionTwo wizardp">
                                    </div>
                                    <div class="stepSixDescriptionThree wizardp">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="step7">
                          <span id="stepSevenMasterSave" hidden></span>
                          <span id="stepSevenGoodSave" hidden></span>
                          <span id="masterNumSave" hidden></span>
                          <span id="goodNumSave" hidden></span>
                          <span id="stepSevenSave" hidden>None</span>
                          <span id="stepSevenSaveTwo" hidden>None</span>
                          <span id="stepSevenSaveThree" hidden></span>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="info-text">Skills</h4>
                                </div>
                                <div class="col-sm-6">
                                    <hr>
                                    <div class="stepSevenAbility wizardp"></div>
                                    <div id="AbilityScoresDropdown"></div>
                                    <div class="stepSevenMaster wizardp"></div>
                                    <div id="masterSkillsDropdown"></div>
                                    <div id="masterProfessionDropdown"></div>
                                    <div class="stepSevenGood wizardp"></div>
                                    <div id="goodSkillsDropdown"></div>
                                    <div id="goodProfessionDropdown"></div>
                                    <div class="wizardp">
                                        <p>(Perception is a good skill by default)</p>
                                    </div>
                                    <p></p>
                                </div>
                                <div class="col-sm-6">
                                    <hr>
                                    <div class="stepSevenAbilityDescription wizardp">
                                    </div>
                                    <div class="stepSevenMasterDescription wizardp">
                                    </div>
                                    <div class="stepSevenGoodDescription wizardp">
                                    </div>
                                    <div class="stepSevenAsterix wizardp">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="step8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="info-text">Attacks</h4>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                    <div id="MainAttackDropdown"></div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <button type="button" onclick='generateAttackEntry("Melee")' class="btn btn-default btn-block btn-wrap">Add melee attack</button>
                                        </div>
                                        <div class="col-xs-6">
                                          <button type="button" onclick='generateAttackEntry("Ranged")' class="btn btn-default btn-block btn-wrap">Add ranged attack</button>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="attackCR"></div>
                                    <p class="weapon-flavour">Default attack values are chosen from the creatures base array (by CR). All fields are editable and weapons can be added instead as per the Alien Archive rules (Weapon level = CR, always add CR to damage).</p>
                                    <!--<p class="weapon-flavour">(Weapon level = CR, damage dice = weapon damage dice, always add CR to damage, add STR to melee, use default bonus)</p>-->
                                </div>
                                <div class="col-sm-8">
                                    <hr>
                                    <div class="attackContainer"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="step9">
                            <span id="stepEightSave" hidden></span>
                            <span id="stepEightTwoSave" hidden>None</span>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="info-text">Spells</h4>
                                </div>
                                <div class="col-sm-6">
                                    <hr>
                                    <div class="casterTypeDescription wizardp"></div>
                                    <div id="casterTypeDropdown"></div>
                                    <div class="stepEight1 wizardp"></div>
                                    <div id="spells1Dropdown"></div>
                                    <div class="stepEight2 wizardp"></div>
                                    <div id="spells2Dropdown"></div>
                                    <div class="stepEight3 wizardp"></div>
                                    <div id="spells3Dropdown"></div>
                                </div>
                                <div class="col-sm-6">
                                    <hr>
                                    <div class="stepEight0Description wizardp">
                                    </div>
                                    <div class="stepEight1Description wizardp">
                                    </div>
                                    <div class="stepEight2Description wizardp">
                                    </div>
                                    <div class="stepEight3Description wizardp">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="step10">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="info-text">Final checks</h4>
                                </div>
                                <div class="col-sm-6">
                                  <hr>
                                  <div class="form-group">
                                      <label for="inputName">Creature name</label>
                                      <input type="text" class="form-control" id="inputName" placeholder="Name">
                                  </div>
                                  <div class="row">
                                      <div class="col-xs-6">
                                          <div id="Alignment1Dropdown"></div>
                                      </div>
                                      <div class="col-xs-6">
                                          <div id="Alignment2Dropdown"></div>
                                      </div>
                                  </div>
                                  <div id="sizeDropdown"></div>
                                  <div class="row">
                                      <div class="col-xs-10">
                                        <div class="form-group">
                                            <label for="inputSpeed">Speed</label>
                                            <input type="text" class="form-control" id="inputSpeed" placeholder="Name" value="30">
                                        </div>
                                      </div>
                                      <div class="col-xs-2">
                                          <div class="form-group">
                                              <label for="inputSpeed">&nbsp;</label>
                                              <p>ft.<p>
                                          </div>
                                      </div>
                                  </div>

                                  <!--<div class="form-group">
                                      <label for="inputWeakness" >Weaknesses</label>
                                      <input type="text" class="form-control" id="inputWeakness" placeholder="None">
                                  </div>-->
                                </div>
                                <div class="col-sm-6">
                                  <hr>
                                  <div id="precedenceDropdown"></div>
                                  <div id="languageDropdown"></div>
                                  <div id="optionalSectionsDropdown"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="step11">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="info-text">Stat Block</h4>
                                    <hr>
                                    <button type="button" class="btn btn-edit btn-grn" onclick="edit()" type="button">Edit statblock</button>
                                    <button type="button" class="btn btn-save btn-grn" onclick="save()" type="button">Save statblock</button>
                                    <p></p>
                                    <div class="summernoteEdit edit-block">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-footer">
                        <div class="pull-right">
                            <input type='button' class='btn btn-next btn-grn' name='next' value='Next' />
                            <input type='button' class='btn btn-finish btn-grn' name='finish' value='Reset' />
                        </div>
                        <div class="pull-left">
                            <input type='button' class='btn btn-previous btn-default' name='previous' value='Previous' />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="alert-this-red" style="display: none;">
              <button type="button" class="close" aria-label="Close" onclick="dismissErrorAlert()"><span aria-hidden="true">&times;</span></button>
              <div id="errorMessage"></div>
            </div>
        </div>
        <!-- wizard container -->
    </div>
    <div class="output area">

    </div>
</div>

  <!-- Modal pop up html-->

  <!-- Change required for grft Modal -->
  <div class="modal fade" id="classModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding: 10px 15px 0px 15px;">
          <h4 class="modal-title" >Change required</h4>
        </div>
        <div class="modal-body classModal" style="padding: 5px 15px;">

        </div>
        <div class="modal-footer" style="padding: 0px 10px 10px 10px;">
          <button type="button" class="btn-change btn btn-grn" data-dismiss="modal">Change</button>
          <button type="button" class="btn-change btn btn-default pull-left" data-dismiss="modal">No thanks</button>
        </div>
      </div>

    </div>
  </div>
  <div class="modal fade" id="graftModal" role="dialog">
    <div class="modal-dialog">

      <!-- Change required for graft Modal -->
      <div class="modal-content">
        <div class="modal-header" style="padding: 10px 15px 0px 15px;">
          <h4 class="modal-title" >Change required</h4>
        </div>
        <div class="modal-body graftModal" style="padding: 5px 15px;">

        </div>
        <div class="modal-footer" style="padding: 0px 10px 10px 10px;">
          <button type="button" class="btn-graft btn btn-grn" data-dismiss="modal">Change</button>
          <button type="button" class="btn-graft btn btn-default pull-left" data-dismiss="modal">No thanks</button>
        </div>
      </div>

    </div>
  </div>
  <div class="modal fade" id="crModal" role="dialog">
    <div class="modal-dialog">

      <!-- condition not met Modal -->
      <div class="modal-content">
        <div class="modal-header" style="padding: 10px 15px 0px 15px;">
          <h4 class="modal-title" >Condition not met</h4>
        </div>
        <div class="modal-body crModal" style="padding: 5px 15px;">

        </div>
        <div class="modal-footer" style="padding: 0px 10px 10px 10px;">
          <button type="button" class="btn-graft btn btn-grn" data-dismiss="modal">Ok</button>
        </div>
      </div>

    </div>
  </div>
  <div class="modal fade" id="ResetModal" role="dialog">
    <div class="modal-dialog modal-sm">

      <!-- condition not met Modal -->
      <div class="modal-content">
        <div class="modal-header" style="padding: 10px 15px 0px 15px;">
          <h4 class="modal-title" >Reset builder</h4>
        </div>
        <div class="modal-body crModal" style="padding: 5px 15px;">
          <p>Are you sure? your stat block will be lost.</p>
        </div>
        <div class="modal-footer" style="padding: 0px 10px 10px 10px;">
          <button type="button" class="btn-reset btn btn-grn" data-dismiss="modal">Reset</button>
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No thanks</button>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
{% block includes %}
<script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap-select.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap-wizard.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/summernote.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/summernote-ext-print.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/spellData.v2.2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/monsterGenData.v2.3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/monsterGen.v2.4.js') }}"></script>
{% endblock %}
