<!-- index.html-->

{% extends "base.html" %}
{% block title %}Starfinder Star System Generator{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1></h1>
  <p class="lead">for use with Starfinder RPG</p>

  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-secondary"disabled>Life</button>

    <div class="btn-group" role="group">
      <button id="lifeDrop" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Average
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="#">Sparse</a>
        <a class="dropdown-item" href="#">Average</a>
        <a class="dropdown-item" href="#">Teeming</a>
      </div>
    </div>
  </div>
  <p></p>
  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-secondary"disabled>System Size</button>

    <div class="btn-group" role="group">
      <button id="sizeDrop" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Medium
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="#">Small</a>
        <a class="dropdown-item" href="#">Medium</a>
        <a class="dropdown-item" href="#">Large</a>
      </div>
    </div>
  </div>
  <p></p>
  <button type="button" onclick = "printSystem()" title = "magic, baby" class="btn btn-success">Generate  <i class="fa fa-magic fa-lg"></i></button>
  <button type="button" onclick = "clearOutput()" class="btn btn-secondary">Clear</button>
  </br>

  <div class="output area">

	</div>
</div>
{% endblock %}
{% block includes %}
<script type = "text/javascript" src = "{{ url_for('static', filename = 'starGen.js') }}" ></script>
{% endblock %}
