<!-- index.html-->

{% extends "base.html" %}
{% block title %}Thanks{% endblock %}
{% block description %}Thank you for supporting sfrpgtools{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1>Thank you!</h1>
    <p class="lead">Thank you for supporting sfrpgtools, your contribution is greatly appreciated and helps keep sfrpgtools online and ad free.</p>
    <p></p>
    <p class="lead">Happy rolling!</p>
    <div class="container">

    </div>
</div>
{% endblock %}
{% block includes %}
{% endblock %}
