<!-- index.html-->

{% extends "base.html" %}
{% block title %}Starfinder Weapon Generator{% endblock %}
{% block description %}Random weapon generator to add fun balanced weapons to your starfinder game{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1>Weapon Generator</h1>
    <p class="lead">Generates balanced weapons for the Starfinder RPG with damage curves matched as closely as possible to the core rulebook weapon entries.</p>
    <p></p>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="btn-group btn-block" role="group">
                    <button id="levelDrop" type="button" class="btn btn-default dropdown-toggle btn-block btn-notblack" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="pull-left">Any level</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#">Any level</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Tier 1</a></li>
                        <li><a href="#">Tier 2</a></li>
                        <li><a href="#">Tier 3</a></li>
                        <li><a href="#">Tier 4</a></li>
                        <li><a href="#">Tier 5</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Level 1</a></li>
                        <li><a href="#">Level 2</a></li>
                        <li><a href="#">Level 3</a></li>
                        <li><a href="#">Level 4</a></li>
                        <li><a href="#">Level 5</a></li>
                        <li><a href="#">Level 6</a></li>
                        <li><a href="#">Level 7</a></li>
                        <li><a href="#">Level 8</a></li>
                        <li><a href="#">Level 9</a></li>
                        <li><a href="#">Level 10</a></li>
                        <li><a href="#">Level 11</a></li>
                        <li><a href="#">Level 12</a></li>
                        <li><a href="#">Level 13</a></li>
                        <li><a href="#">Level 14</a></li>
                        <li><a href="#">Level 15</a></li>
                        <li><a href="#">Level 16</a></li>
                        <li><a href="#">Level 17</a></li>
                        <li><a href="#">Level 18</a></li>
                        <li><a href="#">Level 19</a></li>
                        <li><a href="#">Level 20</a></li>
                    </ul>
                </div>
                <P></P>
                <div class="btn-group btn-block" role="group">
                    <button id="weaponDrop" type="button" class="btn btn-default dropdown-toggle btn-block btn-notblack" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="pull-left">Any weapon</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#">Any weapon</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Basic melee</a></li>
                        <li><a href="#">Advanced melee</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Small arm</a></li>
                        <li><a href="#">Longarm</a></li>
                        <li><a href="#">Heavy</a></li>
                        <li><a href="#">Sniper</a></li>
                    </ul>
                </div>
                <P></P>
                <div class="btn-group btn-block" role="group">
                    <button id="nameDrop" type="button" class="btn btn-default dropdown-toggle btn-block btn-notblack" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="pull-left">Name Generator On</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu2">
                        <li><a href="#">On</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Off</a></li>
                    </ul>
                </div>
                <P></P>
                <button type="button" onclick="generateWeapon()" title="magic, baby" class="btn btn-grn">Generate <i class="fa fa-magic fa-lg"></i></button>
                <button type="button" onclick="clearOutput()" class="btn btn-default btn-notblack">Clear</button>
                <P></P>
            </div>
            <div class="col-md-8"></div>
        </div>
    </div>

    <div class="output area">

    </div>
</div>
{% endblock %}
{% block includes %}
<script type="text/javascript" src="{{ url_for('static', filename = 'js/weaponGen.v2.0.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/nameGen.v2.0.js') }}"></script>
{% endblock %}
